<div class="d-flex justify-content-center flex-wrap custom-div">
    <div class="col-md-12">
        <div class="card rounded shadow-sm">
            <form [formGroup]="form">
                <!--<p>Form value: {{ form.value | json }}</p>
            <p>Form valid: {{ form.status | json }}</p>-->
                <div class="p-3">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" id="name" class="form-control" [ngClass]="{ 'is-valid': form.get('name')?.valid ,'is-invalid': form.get('name')?.errors && form.get('name')?.touched  }" formControlName="name" placeholder="Insira o sistema operacional">
                            <div class="valid-feedback" *ngIf="form.get('name')?.valid">
                                Nome válido
                            </div>
                            <div *ngIf="form.get('name')?.hasError('required')" class="invalid-feedback">
                                Nome obrigatório
                            </div>
                            <div *ngIf="form.get('name')?.hasError('minlength')" class="invalid-feedback">
                                Mínimo 3 caracteres
                            </div>
                            <div *ngIf="form.get('name')?.hasError('maxlength')" class="invalid-feedback">
                                Máximo 20 caracteres
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                      <button class="btn btn-secondary" routerLink="/os/lista">
                        Listar Sistemas
                      </button>
                      <button class="btn btn-success" [disabled]="!form.valid" (click)="alterarOs()">
                        Alterar Sistema
                      </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-3 custom-image">
        <div [formGroup]="form" class="card-evento-view shadow-sm">
            <div class="form-row d-flex justify-content-center">
                <div class="form-group">
                    <input type="file" accept=".svg" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder="" style="display: none">
                </div>
            </div>
            <div class="card profile-card custom-card">
                <p class="text-center custom-class"><a href="https://worldvectorlogo.com" target="_blank"><i class="bi bi-search"></i>Imagens</a></p>
                <hr>
                <div class="card-img-block d-flex align-items-center justify-content-center custom-internal">
                    <img class="image" [src]="imagemUrl" class="img-fluid" (click)="file.click()" alt="Card image cap" />
                </div>
            </div>
            <div>
                <p>{{ msgFile }}</p>
            </div>
        </div>
    </div>
</div>
