.custom-icon-plus {
  font-size: 1.8rem;
  color: green;
}

.custom-icon-dash {
  font-size: 1.8rem;
  color: red;
}

.custom-icon-circle-fill {
  margin-right: 5px;
}

.custom-search {
  margin-left: 10px;
}
