<div class="card rounded shadow-sm mb-4">
  <form [formGroup]="form">
      <!--<p>Form value: {{ form.value | json }}</p>
        <p>Form valid: {{ form.status | json }}</p>-->
      <div class="p-3">
          <div class="form-row">
              <div class="form-group">
                  <label for="ip">Ip</label>
                  <input type="text" id="ip" class="form-control" [ngClass]="{ 'is-valid': form.get('ip')?.valid ,'is-invalid': form.get('ip')?.errors && form.get('ip')?.touched  }" formControlName="ip" placeholder="Insira o IP">
                  <div class="valid-feedback" *ngIf="form.get('ip')?.valid">
                      IP válido
                  </div>
                  <div *ngIf="form.get('ip')?.hasError('required')" class="invalid-feedback">
                    IP obrigatório
                  </div>
                  <div *ngIf="form.get('ip')?.hasError('minlength')" class="invalid-feedback">
                      Mínimo 3 caracteres
                  </div>
                  <div *ngIf="form.get('ip')?.hasError('maxlength')" class="invalid-feedback">
                      Máximo 20 caracteres
                  </div>
              </div>
          </div>
          <div class="form-row">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" class="form-control" [ngClass]="{ 'is-valid': form.get('name')?.valid ,'is-invalid': form.get('name')?.errors && form.get('name')?.touched  }" formControlName="name" placeholder="Insira o nome so servidor">
                <div class="valid-feedback" *ngIf="form.get('name')?.valid">
                    Nome válido
                </div>
                <div *ngIf="form.get('name')?.hasError('required')" class="invalid-feedback">
                  Nome obrigatório
                </div>
                <div *ngIf="form.get('name')?.hasError('minlength')" class="invalid-feedback">
                    Mínimo 3 caracteres
                </div>
                <div *ngIf="form.get('name')?.hasError('maxlength')" class="invalid-feedback">
                    Máximo 20 caracteres
                </div>
            </div>
        </div>
        <div class="form-group">
          <label for="SO" class="form-label mt-4">Escolha o sistema operacional</label>
          <select class="form-select" id="osId" [ngClass]="{ 'is-valid': form.get('osId')?.valid ,'is-invalid': form.get('osId')?.errors && form.get('osId')?.touched  }" formControlName="osId">
            <option selected="selected" [ngValue]="null" disabled>Escolha o sistema aqui</option>
            <option *ngFor="let item of os" value= {{item.id}}>{{ item.name }}</option>
          </select>
          <div class="valid-feedback" *ngIf="form.get('osId')?.valid">
            Sistema válido
        </div>
        <div *ngIf="form.get('osId')?.hasError('required')" class="invalid-feedback">
          Sistema obrigatório
        </div>
        </div>
        <div class="form-group">
          <label for="rede" class="form-label mt-4">Escolha a rede</label>
          <select class="form-select" id="rede" [ngClass]="{ 'is-valid': form.get('rede')?.valid ,'is-invalid': form.get('rede')?.errors && form.get('rede')?.touched  }" formControlName="rede">
            <option selected="selected" [ngValue]="null" disabled>Escolha a rede aqui</option>
            <option *ngFor="let item of rede" value="{{ item.nomeRede }}">{{ item.nomeRede }}</option>
          </select>
          <div class="valid-feedback" *ngIf="form.get('rede')?.valid">
            Rede válida
        </div>
        <div *ngIf="form.get('rede')?.hasError('required')" class="invalid-feedback">
          Rede obrigatória
        </div>
        </div>
      </div>
      <div class="card-footer">
          <div class="d-flex justify-content-around">
              <button class="btn btn-success ms-2" [disabled]="!form.valid" (click)="alterarServer()">
                  Salvar
              </button>
          </div>
      </div>
  </form>
</div>

