<div class="card rounded shadow-sm p-3">

    <div class="d-flex">
        <div class="flex-fill pr-3">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Filtro: </div>
                </div>
                <input type="text" class="form-control" placeholder="Filtrar por nome" [(ngModel)]="filtroLista">
            </div>
        </div>
        <div class="custom-search">
            <a class="d-flex btn btn-outline-primary" routerLink="/server/novo">
                <i class="bi bi-plus-circle-fill custom-icon-circle-fill"></i>
                <b class="ml-1 d-none d-sm-block">Novo</b>
            </a>
        </div>
    </div>

    <table class="table table-hover">

        <thead class="thead-dark">
            <tr>
                <th>Apps/Bancos</th>
                <th class="d-none d-md-table-cell">Id</th>
                <th class="d-none d-md-table-cell">IP</th>
                <th>Nome</th>
                <th class="d-none d-md-table-cell">SO</th>
                <th class="d-none d-md-table-cell">Rede</th>
                <th>Opções</th>
            </tr>
        </thead>

        <tbody>

            <ng-container *ngFor="let item of serversFiltrados">

                <tr>
                    <td (click)="item.isExpand = !item.isExpand">
                        <i *ngIf="!item.isExpand" class="bi bi-plus-circle custom-icon-plus"></i>
                        <i *ngIf="item.isExpand" class="bi bi-dash-circle custom-icon-dash"></i>
                    </td>
                    <td class="d-none d-md-table-cell">{{item.id}}</td>
                    <td class="d-none d-md-table-cell">{{item.ip}}</td>
                    <td>{{item.name}}</td>
                    <td class="d-none d-md-table-cell"><img src="https://localhost:7284/resources/images/{{ item.os.imagemURL }}" width="120px" height="40px" alt=""></td>
                    <td class="d-none d-md-table-cell">{{item.rede}}</td>
                    <td class="d-flex">
                        <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template, item.id)">
                      <i class="bi bi-trash"></i>
                    </button>
                        <button type="button" class="btn btn-warning btn-sm ms-2" (click)="alterarServer(item.id)">
                      <i class="bi bi-pen"></i>
                    </button>
                    </td>
                </tr>

                <tr *ngIf="item.isExpand">
                    <td>
                        <table class="table table-borderless table-info">
                            <thead>
                                <th>Apps</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let server of item.apps">
                                    <td class="expand">{{ server.name }}</td>
                                </tr>
                            </tbody>
                            <thead>
                                <th>Bancos</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let db of item.dBs">
                                    <td class="expand">{{ db.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </ng-container>

        </tbody>

        <tfoot *ngIf="!servers.length">
            <tr>
                <td colspan="8" class="text-center">
                    <h4>Nenhum servidor encontrado!</h4>
                </td>
            </tr>
        </tfoot>

    </table>

    <ng-template #template>
        <div class="modal-body text-center">
            <p>Confirma ?</p>
            <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
            <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
        </div>
    </ng-template>

</div>
