<div class="card rounded shadow-sm p-3">

    <div class="d-flex">
        <div class="flex-fill pr-3">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Filtro: </div>
                </div>
                <input type="text" class="form-control" placeholder="Filtrar por nome" [(ngModel)]="filtroLista">
            </div>
        </div>
        <div class="custom-search">
            <a class="d-flex btn btn-outline-primary" routerLink="/database/novo">
                <i class="bi bi-plus-circle-fill custom-icon-circle-fill"></i>
                <b class="ml-1 d-none d-sm-block">Novo</b>
            </a>
        </div>
    </div>

    <table class="table table-hover">

        <thead class="thead-dark">
            <tr>
                <th class="d-none d-md-table-cell">Id</th>
                <th>Nome</th>
                <th class="d-none d-md-table-cell">IP</th>
                <th class="d-none d-md-table-cell">Server</th>
                <th class="d-none d-md-table-cell">App</th>
                <th>Opções</th>
            </tr>
        </thead>

        <tbody>

            <ng-container *ngFor="let item of dbsFiltrados">

                <tr>
                    <td class="d-none d-md-table-cell">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td class="d-none d-md-table-cell">{{item.ip}}</td>
                    <td class="d-none d-md-table-cell">{{item.server.name}}</td>
                    <td class="d-none d-md-table-cell">{{item.app?.name}}</td>
                    <td class="d-flex">
                        <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template, item.id)">
                      <i class="bi bi-trash"></i>
                    </button>
                        <button type="button" class="btn btn-warning btn-sm ms-2" (click)="alterarDb(item.id)">
                      <i class="bi bi-pen"></i>
                    </button>
                    </td>
                </tr>

            </ng-container>

        </tbody>

        <tfoot *ngIf="!dbs.length">
            <tr>
                <td colspan="8" class="text-center">
                    <h4>Nenhum os encontrado!</h4>
                </td>
            </tr>
        </tfoot>

    </table>

    <ng-template #template>
        <div class="modal-body text-center">
            <p>Confirma ?</p>
            <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
            <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
        </div>
    </ng-template>

</div>
