<div class="card rounded shadow-sm mb-4">
    <form [formGroup]="form">
        <!--<p>Form value: {{ form.value | json }}</p>
          <p>Form valid: {{ form.status | json }}</p>-->
        <div class="p-3">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" id="name" class="form-control" [ngClass]="{ 'is-valid': form.get('name')?.valid ,'is-invalid': form.get('name')?.errors && form.get('name')?.touched  }" formControlName="name" placeholder="Insira o sistema operacional">
                    <div class="valid-feedback" *ngIf="form.get('name')?.valid">
                        Nome válido
                    </div>
                    <div *ngIf="form.get('name')?.hasError('required')" class="invalid-feedback">
                        Nome obrigatório
                    </div>
                    <div *ngIf="form.get('name')?.hasError('minlength')" class="invalid-feedback">
                        Mínimo 3 caracteres
                    </div>
                    <div *ngIf="form.get('name')?.hasError('maxlength')" class="invalid-feedback">
                        Máximo 20 caracteres
                    </div>
                </div>
                <div class="form-group mt-4">
                    <label for="imagemURL">Upload</label>
                    <input type="file" formControlName="imagemURL" (change)="onFileChange($event)" [ngClass]="{ 'is-valid': form.get('imagemURL')?.valid ,'is-invalid': form.get('imagemURL')?.errors && form.get('imagemURL')?.touched  }" class="form-control" id="imagemURL">
                    <div class="valid-feedback" *ngIf="form.get('imagemURL')?.valid">
                        Imagem válida
                    </div>
                    <div *ngIf="form.get('name')?.hasError('required')" class="invalid-feedback">
                        Imagem obrigatória
                    </div>
                    <div>
                        <p>{{ msgFile }}</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center custom-icon">
                    <a href="https://worldvectorlogo.com" target="_blank"><i class="bi bi-search"></i>Buscar Imagens</a>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-around">
                <button class="btn btn-success ms-2" [disabled]="!form.valid" (click)="save()">
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>
